@import url(./common.css);

/* ----- HEADER ----- */

header {
    position: fixed;
    left: 0; right: 0;
    padding:40px 0;
    z-index: 999;
}
header .logo {
    float: left;
}
header .logo > a {
    display: block;
    width:171px; height:56px;
    background: url(../images/logo-white.png) no-repeat;
    text-indent: -9999em;
}
header nav {
    float: right;
}
header nav > ul {
    float: left;
}
header nav > ul > li {
    float: left;
}
header nav > ul.main_menu > li {
    margin-right: 29px;
}
header nav > ul.main_menu > li {
    margin-right: 29px;
}
header nav > ul.header_icons > li {
    margin-right: 25px;
}
header nav > ul.header_icons > li:last-child {
    margin-right: 0px;
}
header nav > ul > li > a {
    font-size:14px;
    line-height: 56px;
    color:#Fff;
    transition: color 0.2s linear;
}
header nav > ul > li > a:hover,
header nav > ul > li > a.active {
    color:#c7b299;
}

/* ----- MAIN SLIDER ----- */
.main_slider {
    position: relative;
}

.main_slider > .slider_list > li {    
    width:100%;
    height:100vh;
    background-repeat:no-repeat;
    background-position: center top;
    background-size: cover;
    text-align: center;
}
.main_slider > .slider_list > li.slide01 { 
    background-image: url(../images/mainslide_01.jpg); 
}
.main_slider > .slider_list > li.slide02 { 
    background-image: url(../images/mainslide_02.jpg); 
}
.main_slider > .slider_list > li.slide03 { 
    background-image: url(../images/mainslide_03.jpg); 
}

.main_slider > .slider_list > li > div {
    position: absolute;
    left: 50%; top: 50%;
    width:590px;
    transform: translate(-50%, -50%);
    color:#fff;
}

.main_slider > .slider_list > li > div > * {    
    transform:translateY(40%);
    opacity: 0;
}

.main_slider > .slider_list > li.cycle-slide-active > div > * {    
    animation-name: showUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.main_slider > .slider_list > li > div > h3 {
    font-size:36px;
    font-weight: 500;
    line-height: 1;
    animation-delay: 0.4s;
}

.main_slider > .slider_list > li > div > h2 {
    font-size:52px;
    font-weight: 800;
    line-height: 1.4;
    animation-delay: 0.6s;
}

.main_slider > .slider_list > li > div > p {
    margin-bottom: 50px;
    animation-delay: 0.8s;
}

.main_slider > .slider_list > li > div > a {
    animation-delay: 1s;
}

.main_slider > .controls > a {
    position: absolute;
    left: 50%;  top: 50%;
    transform:translate(-50%, -50%);
    width: 40px; height: 73px;
    background: url(../images/sprites.png) no-repeat;
    text-indent: -9999em;
    z-index: 120;
}

.main_slider > .controls > a.prev {
    margin-left: -780px;
    background-position: 0 -77px;
}

.main_slider > .controls > a.next {
    margin-left: 789px;
    background-position: -40px -77px;
}

.main_slider > .pager {
    position: absolute;
    left: 50%; bottom: 40px;
    transform: translateX(-50%);    
    z-index: 130;
}

.main_slider > .pager > span {
    display: inline-block;
    margin: 0 5px;
    width:11px; height: 11px;
    background: rgba(255, 255, 255, 0.5);
    background-clip: content-box;
    border:2px solid transparent;
    border-radius: 50%;
    text-indent: -9999em;
    cursor: pointer;
    transition: border 0.3s ease-out;
}

.main_slider > .pager > span:hover {
    border:2px solid #d3c1ad;
}

.main_slider > .pager > span.cycle-pager-active {
    border:2px solid #d3c1ad;
    background: none;
}

/* ----- SERVICES SECTION ----- */

.services {
    padding:92px 0 80px;
}

.services > .service_item {
    float: left;
    width:270px;
    margin-right: 30px;
    text-align: center;    
}
.services > .service_item:last-child {
    margin-right: 0;
}

.services > .service_item > .icon {
    font-size:36px;
    color:#555;
}

.services > .service_item > h4 {
    margin: 26px 0 13px;
    font-size:22px;
    font-weight: 500;
    color:#555;
    transition: all 0.3s;
}

.services > .service_item > p {
    margin-bottom: 22px;
    font-size:14px;
    font-weight: 300;
    color:#8c8c8c;   
}

.services > .service_item > .status {
    display: inline-block;
    width:70px; height:3px;
    background: #f1eee9;
    transition: all 0.3s;
}

.services > .service_item:hover > h4 {
    color:#c7b299;
}

.services > .service_item:hover > .status {
    background: #c7b299;
}

/* ----- REALIZATION SECTION ----- */

.realization {
    padding-top: 84px;
    background: #fbfaf8;
    text-align: center;
}

/* ----- TEXT_BOXES SECTION ----- */

.text_boxes {
    padding:50px 0;
    background: linear-gradient(to right, #211b19, #4e3427);
}

.text_boxes .box_content {
    float: left;
}

.text_boxes .box_content > h4 {
    color:#fff;
    font-size:28px;
}

.text_boxes .box_content > h4 > span {
    color:#c7b299;
}

.text_boxes .box_content > p {
    font-size:18px;
    font-weight: 300;
    color:#615855;
}

.text_boxes a {
    float: right;
}

/* ----- LATEST PROJECT SECTION ----- */

.latest_project {
    padding:80px 0;
}

.latest_project > .project_wrap {
    text-align: center;
}

.latest_project > .project_wrap > input {
    display: none;
}

.latest_project > .project_wrap > input:checked + label {
    background: #998675;
    color:#fff;
}

.latest_project > .project_wrap > label {
    display: inline-block;
    margin: 0 3px;
    padding:0 18px;
    font-size:14px;
    font-weight: 300;
    color:#8c8c8c;
    line-height: 32px;
    border:1px solid #ebebeb;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.latest_project > .project_wrap > .project_list {
    margin-top: 40px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.latest_project > .project_wrap > .project_list > li {
    width:370px;
    overflow: hidden;
    animation: fadeIn 0.3s forwards;
}

.latest_project > .project_wrap > .project_list > li * {
    transition: 0.3s;    
}

.latest_project > .project_wrap > .project_list > li:nth-child(3n) {
    margin:0 0 30px 0;
}

.latest_project > .project_wrap > .project_list > li > .img_wrap {
    position: relative;
}

.latest_project > .project_wrap > .project_list > li > .img_wrap > img {
    width:100%;
}

.latest_project > .project_wrap > .project_list > li > .img_wrap > .hover_contents {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    padding-top:116px;
    text-align: center;
    background: rgba(0,0,0, 0.7);
    opacity: 0;    
}
.latest_project > .project_wrap > .project_list > li:hover > .img_wrap > .hover_contents {
    opacity: 1;
}

.latest_project > .project_wrap > .project_list > li > .img_wrap > .hover_contents > a {
    margin: 0 15px;
    font-size:26px;
    color:#fff;
}
.latest_project > .project_wrap > .project_list > li > .img_wrap > .hover_contents > a:hover {
    color:#c7b299;
}

.latest_project > .project_wrap > .project_list > li > .content {
    background: #fbfaf8;
    padding:24px 29px;
    text-align: left;
}

.latest_project > .project_wrap > .project_list > li > .content > h4 {
    font-size:20px;
    color:#c7b299;
    font-weight: 500;
}

.latest_project > .project_wrap > .project_list > li > .content > p {
    font-size:14px;
    color:#b8b8b8;
    font-weight: 300;
}

.latest_project > .project_wrap > .project_list > li:hover > .content {
    background: #362f2d;
}

.latest_project > .project_wrap > .project_list > li:hover > .content > h4 {
    color:#fff;
}

.latest_project > .project_wrap > .project_list > li:hover > .content > p {
    color:#c7b299;
}

.latest_project > .project_wrap > #filter_all:checked ~ .project_list > li {
    display: block;
    animation: fadeIn 0.3s forwards;
}
.latest_project > .project_wrap > #filter_mobile:checked ~ .project_list > li:not(.mobile) {
    display: none;
    animation: fadeOut 0.3s forwards;
}
.latest_project > .project_wrap > #filter_illust:checked ~ .project_list > li:not(.illust) {
    display: none;
    animation: fadeOut 0.3s forwards;
}
.latest_project > .project_wrap > #filter_web:checked ~ .project_list > li:not(.web) {
    display: none;
    animation: fadeOut 0.3s forwards;
}
.latest_project > .project_wrap > #filter_photo:checked ~ .project_list > li:not(.photo) {
    display: none;
    animation: fadeOut 0.3s forwards;
}

.latest_project > .project_wrap > .load_more {
    margin-top: 40px;
    text-align: center;
}

/* ----- VIDEO SECTION ----- */

.video {
    position: relative;
    height:705px;
    background: url(../images/video_bg.jpg)no-repeat center center/cover;
}

.video > .contents {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.video > .contents * {
    color:#fff;
}

.video > .contents > span {
    color:#c7b299;
}

.video > .contents > .icon {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0, 0.2);
    text-align: center;
    font-size:4em;
    line-height: 100px;
    border-radius:50%;
}

.video > .contents > h3 {
    margin-top: 40px;
}

.video > #overlay {
    display: none;
    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(0,0,0, 0.8);
    z-index: 9999;
}

.video > #overlay > .inner {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}

.video > #overlay > .close {
    position: absolute;
    top: 50px;
    right: 50px;
    color:#fff;
    font-size:30px;
}

/* ----- EXCELLENT MOBILE SECTION ----- */

.excellent_mobile {
    padding-top: 80px;
    background: #fbfaf8;
}

.excellent_mobile img {
    float: left;
}

.excellent_mobile .contents {
    margin-top: 115px;
    width:670px;
    float: right
}

.excellent_mobile .contents > h3,
.excellent_mobile .contents > p {
    width:100%;
    text-align: left;
}

.excellent_mobile .contents > p {
    padding: 23px 0;
}

.excellent_mobile .contents > ul {
    margin-left: 50px;
}

.excellent_mobile .contents > ul > li {
    margin-bottom: 18px;
    font-weight: 300;
    color:#8c8c8c;
    line-height: 21px;
}

.excellent_mobile .contents > ul > li > span {
    display: inline-block;
    margin-right: 28px;
    width:21px;
    height:21px;
    background: url(../images/sprites.png) no-repeat -402px -89px;
    text-indent: -9999em;
}

/* ----- COUNTERS SECTION ----- */

.counters {
    padding:69px 0 60px;
    background: linear-gradient(to right, #211b19, #4e3427);
    text-align: center;
}

.counters ul {
    display:inline-block;
}

.counters ul > li {
    float:left;
    width:170px;
    margin: 0 15px;
}

.counters ul > li > .icon {
    display: inline-block;
    height:44px;
    text-indent: -9999em;
    background: url(../images/sprites.png)no-repeat;
}

.counters ul > li > .icon.client {
    width:44px;
    background-position:0 0;
}
.counters ul > li > .icon.coffee {
    width:48px;
    background-position:-196px 0;
}
.counters ul > li > .icon.post {
    width:44px;
    background-position:-399px 0;
}
.counters ul > li > .icon.like {
    width:44px;
    background-position:-599px 0;
}
.counters ul > li > .icon.launched {
    width:54px;
    background-position:-793px 0;
}

.counters ul > li > h3 {
    margin: 30px 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size:48px;
    font-weight: 300;
    color:#fff;
}

.counters ul > li > h4 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color:#c7b299;
}

.counters ul > li > .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background: #fff;
}